body {
    background-image: url('images/cat.png');
    background-size: 720px 640px;
    background-attachment: scroll;
    background-position:center top;
    background-repeat: no-repeat;
    background-color: black;
}